<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breed Details</title>
    <link rel="stylesheet" th:href="@{/css/details.css}">
    

</head>

<body>

    <div class="header-bar">
        <h1>Explore Dog Breeds</h1>
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search for a breed...">
        <button id="searchButton">Search</button>
    </div>

    <div id="dog-breeds-container">
        <!-- Breeds will be dynamically added here -->
    </div>
    <div id="breed-list" th:each="breed : ${dogBreeds}">
        <p th:text="${breed}"></p>
        <img th:src="@{'/images/' + ${breed} + '.jpg'}" alt="Dog Image" width="300" height="300">
    </div>
    <script src="/js/dog.js"></script>

    <!-- Links to navigate back -->
    <div class="fixed-home">
        <a href="/home">Back to Homepage</a>
    </div>

</body>

</html>